<!--Index-->
<template name="pos_purchase">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Purchase</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="purchase-id"> <b>ID:</b></label>
                            <input type="text" id="purchase-id" class="form-control input-sm" value="{{purchase._id}}"
                                   readonly>
                            <label for="purchase-date"><b>Date <span style="color:red">*</span></b></label>
                            <!--      <input type="text" id="purchase-date" class="form-control input-sm" value="{{purchase.purchaseDate}}"
                                   readonly>-->
                            <div class='input-group date' id='purchase-date'>
                                <input type='text' class="form-control input-sm" id="input-purchase-date"
                                       value="{{purchaseDate}}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label for="location-id"> <b>Locations <span style="color:red">*</span></b></label>
                            <select id="location-id" class="form-control input-sm select-two">
                                {{#each locations}}
                                    <option value="{{_id}}"
                                            selected="{{#if compareTwoValue _id purchase.locationId}}selected{{/if}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <label for="staff-id"> <b>Staff <span style="color:red">*</span></b></label>

                            <!--<div class="input-group select2-bootstrap-append">-->
                            <select id="staff-id" class="form-control input-sm select-two">
                                {{#each staffs}}
                                    <option value="{{_id}}"
                                            selected="{{#if compareTwoValue _id purchase.staffId}}selected{{/if}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <!--<span class="input-group-addon staffInsertAddon">
                           <a > <i class="fa fa-plus"></i> </a>
                           </span>
                           </div>-->

                            <label for="supplier-id"> <b>Supplier <span style="color:red">*</span></b></label>

                            <div class="input-group select2-bootstrap-append">
                                <select id="supplier-id" value="" class="form-control input-sm select-two">
                                    {{#each suppliers}}
                                        <option value="{{_id}}"
                                                selected="{{#if compareTwoValue _id purchase.supplierId}}selected{{/if}}">{{name}}</option>
                                    {{/each}}
                                </select>
                                 <span class="input-group-addon supplierInsertAddon">
                            <a> <i class="fa fa-plus"></i> </a>
                            </span>
                            </div>
                            <label for="transaction-type"> <b>Transaction Type <span style="color:red">*</span></b></label>

                            <!--<div class="input-group select2-bootstrap-append">-->
                            <select id="transaction-type" class="form-control input-sm select-two">
                                {{#each transactionType}}
                                    <option value="{{value}}"
                                            selected="{{#if compareTwoValue value purchase.transactionType}}selected{{/if}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control"
                                      rows="4">{{purchase.description}}</textarea>
                            <div style="margin-top:5px">
                                {{#if purchaseHasUpdate}}
                                    <a class="btn btn-primary btn-sm" id="btn-update-purchase-data">Update</a>
                                {{/if}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Product List</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" id="product-barcode" class="form-control input-sm" placeholder="Barcode">
                        </div>
                        <div class="col-md-4">
                            <select id="product-id" class="form-control input-sm select-two">
                                <option value="">(Select One)</option>
                                {{#each products}}
                                    <option value="{{_id}}">{{name}}({{_unit.name}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="default-price" class="form-control input-sm"
                                   placeholder="Price">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="default-quantity" class="form-control input-sm"
                                   placeholder="Quantity" value="1">
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="default-discount" class="form-control input-sm"
                                   placeholder="Discount" value="0">
                        </div>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-hover">
                            <thead class="jumbotron">
                            <tr>
                                <th>Product</th>
                                <th class="align-center">Price</th>
                                <th class="align-center">Quantity</th>
                                <th class="align-center">Discount</th>
                                <th class="align-center">Amount</th>
                                <th class="align-center">&nbsp;&nbsp;Action&nbsp;&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody class="align-center" id="product-list">
                            {{#each purchaseDetails}}
                                <tr data-id="{{_id}}">
                                    <td align="left">
                                        {{_product.name}} ({{_product._unit.name}})
                                    </td>
                                    <td>
                                        <input type="text" class="la-box price validation" step="0.01"
                                               value="{{price}}"/>
                                    </td>
                                    <td>
                                        <input type="text" style="width: 100px;" min="1"
                                               class="la-box quantity validation"
                                               value="{{quantity}}"/>
                                    </td>
                                    <td>
                                        <input type="text" min="0" max="100" class="la-box discount validation"
                                               value="{{discount}}"/>

                                    </td>
                                    <td class="total-amount">
                                        <input type="text" class="la-box total validation" step="0.01"
                                               value="{{amountFormatted}} {{baseCurrency.symbol}}" readonly/>

                                    </td>
                                    <td>
                                        <div class="btn-group btn-group-xs" role="group" aria-label="">
                                            <a href="" class="btn btn-warning btn-imei">IMEI</a>
                                            <a href="" class="btn btn-danger btn-remove"><i
                                                    class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--table-responsive-->
                    <div class="col-md-11 col-md-offset-1">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="total_riel" class="col-sm-5 control-label">Sub
                                            Total {{baseCurrency._id}}</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control subtotal_riel input-sm"
                                                       id="subtotal_usd"
                                                       value="{{purchase.subTotalFormatted}}" readonly>
                                                <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="total_riel" class="col-sm-5 control-label">Discount</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control validation input-sm"
                                                       id="total_discount"
                                                       value="{{purchase.discount}}">
                                                <span class="input-group-addon"><b>%</b></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="total_riel"
                                               class="col-sm-5 control-label">Total {{baseCurrency._id}}</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control input-sm" id="total_usd"
                                                       value="{{purchase.totalFormatted}}"
                                                       readonly>
                                                <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                            </div>
                                        </div>

                                    </div>

                                    {{#if hasTotal purchase.total}}
                                        {{#each exchangeRates.rates}}
                                            <div class="form-group">
                                                <label for="total_riel"
                                                       class="col-sm-5 control-label">Total {{toCurrencyId}}</label>

                                                <div class="col-sm-7">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control input-sm" id="riel"
                                                               value="{{multiply rate purchase.total toCurrencyId}}"
                                                               readonly>
                                                        <span class="input-group-addon"><b>{{getFileOfCurrency toCurrencyId "symbol"}}</b></span>
                                                    </div>
                                                </div>

                                            </div>

                                        {{/each}}
                                    {{/if}}


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <!--Resume-->
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown"><i class="fa fa-undo"></i>&nbsp;Resume<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {{#each purchases}}
                            <li><a href="/pos/purchase/{{_id}}" class="resume" data-id="{{_id}}">{{_supplier.name}} | {{_id}}</a></li>
                        {{/each}}
                        <!--<li><a >hello</a></li>-->
                    </ul>
                </div>
                <button type="button" id="suspend" class="btn btn-info"><i class="fa fa-archive"></i>&nbsp;Suspend
                </button>
                <a href="/pos/purchase/print/{{purchase._id}}" id="btn-print" class="btn btn-primary hidden"
                   target="_blank"><i
                        class="fa fa-money"></i>&nbsp;Print</a>
                <a id="print-invoice" class="btn btn-warning"><i
                        class="fa fa-money"></i>&nbsp;Print</a>
                <a id="save-without-pay" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;Save</a>
                <button type="button" class="btn btn-success" data-toggle="modal" id="btn-pay"><i
                        class="fa fa-money"></i>&nbsp;Pay
                </button>
                <button type="button" class="btn btn-danger" id="cancel-purchase"><i class="fa fa-trash-o"></i>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>


    <div class="modal fade" id="payment" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Payment <span id="due-grand-total" class="hidden">{{purchase.total}}</span>
                    </h4>
                </div>
                <form class="form-horizontal">
                    <div class="modal-body">

                        <table id="payment-table" width="100%">
                            <tbody id="payment-list">
                            <tr>
                                <td>Total {{baseCurrency._id}}
                                    <div id="pay-format">
                                        <input type="text" value="{{purchase.totalFormatted}} {{baseCurrency.symbol}}"
                                               readonly class="due-amount-total form-control">
                                    </div>
                                </td>
                                <td>Pay in {{baseCurrency._id}}
                                    <div id="pay-format">
                                        <input type="text" class="pay-amount form-control">
                                    </div>
                                </td>
                                <td>Change in {{baseCurrency._id}}
                                    <div id="pay-format">
                                        <input type="text" id="{{baseCurrency._id}}" class="return-amount form-control"
                                               readonly>
                                    </div>
                                </td>
                                <td class="hidden"><span class="currency-id">{{baseCurrency._id}}</span>

                                    <div id="pay-format">
                                        <input type="text" value="1" class="exchange-rate form-control" readonly>
                                    </div>
                                </td>
                            </tr>

                            {{#each exchangeRates.rates}}
                                <tr>
                                    <td>Total {{toCurrencyId}}
                                        <div id="pay-format">
                                            <input type="text"
                                                   value="{{multiply rate purchase.total toCurrencyId}} {{getFileOfCurrency toCurrencyId "symbol"}}"
                                                   class="due-amount-total form-control" readonly>
                                        </div>
                                    </td>

                                    <td>Pay in {{toCurrencyId}}
                                        <div id="pay-format">
                                            <input type="text" class="pay-amount form-control">
                                        </div>
                                    </td>
                                    <td>Return in {{toCurrencyId}}
                                        <div id="pay-format">
                                            <input type="text" id="{{toCurrencyId}}" class="return-amount form-control"
                                                   readonly>
                                        </div>
                                    </td>
                                    <td class="hidden">Exchange Rate to <span
                                            class="currency-id">{{toCurrencyId}}</span>

                                        <div id="pay-format">
                                            <input type="text" class="exchange-rate form-control" value="{{rate}}"
                                                   readonly>
                                        </div>
                                    </td>

                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="print-purchase">Save and Print</button>
                        <button type="button" class="btn btn-primary" id="save-purchase">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal fade" id="imei" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> IMEI </h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" id="input-imei" placeholder="Add IMEI">
                    <br>
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>IMEI</th>
                            <th style="width: 20%">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each imeis}}
                            <tr>
                                <td class="td-imei">{{this}}</td>
                                <td>
                                    <a class="btn btn-xs btn-danger btn-remove-imei">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
