<!--<template name="pos_printCheckout">
    {{#if data}}
    {{#with data}}
        <div align="center"
             style="font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana; font-size: 11px; width:260px; margin: 0 auto;">
            <table border="0">
                <tr>
                    <td style="text-align: center;">
                        <table width="100%">
                            <tr>
                                <td width="25%">
                                    <img src="/rabbit.png" class="logo" style="width:63px;"/>
                                </td>
                                <td width="75%" align="center" style="padding-top: 10px;">
                                    <span style="font-family:'Khmer OS Muol';font-size: 14px;">{{company.khName}}</span><br><br>
                                </td>
                            </tr>
                        </table>
                        Address: {{company.khAddress}}<br>
                        Tel: {{company.telephone}}<br>
						<span style="font-weight: bold;font-size: 15px;">
                            Invoice(<span style="font-size: 13px;"> {{sale.InvoiceType}}</span>)</span>
                        <hr>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr>
                                <td>Sale ID:{{sale._id}}</td>
                                <td align="right">Staff: {{sale._staff.name}}</td>

                            </tr>
                            <tr>
                                <td>Date:{{sale.saleDate}}</td>
                                &lt;!&ndash;<td>Table: {{sale.table}}</td>&ndash;&gt;
                                <td align="right">Customer:{{sale._customer.name}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%">
                            <tr style="text-align: center; text-decoration: underline;">
                                <td align="left"> Product</td>
                                <td align="right"> Price</td>
                                <td> Qty</td>
                                <td> Discount</td>
                                <td align="right"> Amount</td>
                            </tr>
                            {{#each saleDetails}}
                                <tr>

                                    <td>{{order}}-{{_product.name}}</td>
                                    <td align="right">{{price}}</td>
                                    <td align="center">{{quantity}}-{{_product._unit.name}}</td>
                                    <td align="center">{{discount}}</td>
                                    <td style="text-align: right;">{{amountFormated}} {{baseCurrency.symbol}}</td>
                                </tr>
                            {{/each}}
                            <tr>
                                <td colspan="5">
                                    <hr>
                                </td>
                            </tr>
                        </table>
                        <table width="100%">
                            <tr style="text-align: right;">
                                <td colspan="2">Sub Total:</td>
                                <td colspan="2">{{sale.subTotalFormatted}} {{baseCurrency.symbol}}</td>
                            </tr>
                            <tr style="text-align: right;">
                                <td colspan="2" align="right">Dis:</td>
                                <td colspan="2" align="right">{{sale.discount}}%</td>

                            </tr>
                            <tr style="text-align: right;">
                                <td colspan="2">Total {{baseCurrency._id}}:</td>
                                <td colspan="2"
                                    style="font-weight: bold">{{sale.totalFormatted}} {{baseCurrency.symbol}}</td>
                            </tr>
                            {{#each sale._exchangeRates.rates}}
                                <tr style="text-align: right;">
                                    <td colspan="2" align="right">{{toCurrencyId}}:</td>
                                    <td colspan="2" align="right"
                                        style="font-weight: bold">{{multiply sale.total rate toCurrencyId}} {{getFieldOfCurrency toCurrencyId "symbol"}}</td>
                                </tr>
                            {{/each}}
                                &lt;!&ndash; {{#if sale.isPay}}&ndash;&gt;
                            {{#if hasPayment}}
                                <tr style="text-align: right;">
                                    <td colspan="5">
                                        <hr>
                                    </td>
                                </tr>

                                {{#each paymentObj.payments}}
                                    <tr>
                                        <td>Paid {{currencyId}}:</td>
                                        <td style="font-weight: bold">{{payAmount}}</td>
                                        <td style="text-align: right">Change {{currencyId}}:</td>
                                        <td style="text-align: right;font-weight: bold">{{formatFixTwo return}}</td>
                                    </tr>
                                {{/each}}
                                &lt;!&ndash;{{#each paymentObj.payments}}
                            <tr style="text-align: right;">
                                <td>Return {{currencyId}}:</td>
                                <td>{{return}}</td>
                            </tr>
                        {{/each}}&ndash;&gt;
                                    &lt;!&ndash;{{/if}}&ndash;&gt;
                        {{/if}}
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 10px; text-align: center;"><br><br><br>Powered by: Rabbit, Tel: 053 50 66
                        777
                    </td>
                </tr>
            </table>

        </div>
        {{/with}}
    {{autoprint close="true"}}
{{else}}
    {{> loading}}
{{/if}}
</template>-->
<template name="pos_printCheckout">
    {{#if data}}
        {{#with data}}
            <div align="center"
                 style="font-family: 'Microsoft Sans Serif', Arial, Helvetica, Verdana; font-size: 11px; width:410px; margin: 0 auto;">
                <div><img src="/rabbit.png" class="logo" style="width:63px;"/>
                </div>
                <div width="75%" align="center" style="padding-top: 10px;">
                    <span style="font-family:'Khmer OS Muol';font-size: 14px;">{{company.khName}}</span>
                </div>
                Address: {{company.khAddress}}<br>
                Tel: {{company.telephone}}<br>
        <span style="font-weight: bold;font-size: 15px;">
                    Invoice(<span style="font-size: 13px;"> {{sale.InvoiceType}}</span>)
                </span>
                Sale ID:{{sale._id}}<br>
                Staff: {{sale._staff.name}}<br>
                Date:{{sale.saleDate}}<br>
                <!--<td>Table: {{sale.table}}</td>-->
                <span align="right">Customer:{{sale._customer.name}}</span>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th align="left"> N<sup style="text-decoration: underline;">o</sup></th>
                        <th align="left"> Product</th>
                        <th align="right"> Price</th>
                        <th> Qty</th>
                        <th> Unit</th>
                        <th> Discount</th>
                        <th align="right"> Amount</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each saleDetails}}
                        <tr>
                            <td>{{order}}</td>
                            <td>{{_product.name}}</td>
                            <td align="right">{{price}}</td>
                            <td align="center">{{quantity}}</td>
                            <td align="center">{{_product._unit.name}}</td>
                            <td align="center">{{discount}}</td>
                            <td style="text-align: right;">{{amountFormated}} {{baseCurrency.symbol}}</td>
                        </tr>
                    {{/each}}

                    <tr style="text-align: right;">
                        <td colspan="6">Sub Total:</td>
                        <td>{{sale.subTotalFormatted}} {{baseCurrency.symbol}}</td>
                    </tr>
                    <tr style="text-align: right;">
                        <td colspan="6" align="right">Discount:</td>
                        <td align="right">{{sale.discount}}%</td>
                    </tr>
                    <tr style="text-align: right;">
                        <td colspan="6">Total {{baseCurrency._id}}:</td>
                        <td style="font-weight: bold">{{sale.totalFormatted}} {{baseCurrency.symbol}}</td>
                    </tr>
                    {{#each sale._exchangeRates.rates}}
                        <tr style="text-align: right;">
                            <td colspan="2" align="right">{{toCurrencyId}}:</td>
                            <td colspan="2" align="right"
                                style="font-weight: bold">{{multiply sale.total rate toCurrencyId}} {{getFieldOfCurrency toCurrencyId "symbol"}}</td>
                        </tr>
                    {{/each}}
                            <!-- {{#if sale.isPay}}-->
                    {{#if hasPayment}}
                        {{#each paymentObj.payments}}
                            <tr>
                                <td colspan="2"></td>
                                <td>Paid {{currencyId}}:</td>
                                <td style="font-weight: bold">{{payAmount}}</td>
                                <td style="text-align: right">Change {{currencyId}}:</td>
                                <td style="text-align: right;font-weight: bold">{{formatFixTwo return}}</td>
                            </tr>
                        {{/each}}
                        <!--{{#each paymentObj.payments}}
                            <tr style="text-align: right;">
                                <td>Return {{currencyId}}:</td>
                                <td>{{return}}</td>
                            </tr>
                        {{/each}}-->
                                <!--{{/if}}-->
                    {{/if}}
                    </tbody>
                </table>

        <span style="font-size: 10px; text-align: center;"><br><br><br>Powered by: Rabbit, Tel: 053 50 66
                        777
                    </span>


            </div>
        {{/with}}
        {{autoprint close="true"}}
    {{else}}
        {{> loading}}
    {{/if}}
</template>