
.tt-cursor {
    background: #17A4FF;
    color: #ffffff;
}

.tt-menu {
    margin-top: 3px;
    background: #fff;
    border: 1px solid #888;
    color: #000;
    font-size: 15px;
    width: 500px;
    margin-left: -125px;
    z-index: 9999;
    border-radius: 9px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.tt-input {

}

.tt-selectable {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.tt-selectable:last-child{
    border-bottom: 0px;
}
.tt-selectable:hover {
    background: #17A4FF;
    color: #fff;
}

.tt-highlight {
    background: yellow;
    color: #000;
}

.typeahead {
    width: 100%;
}