
.tt-cursor {
    background: #17A4FF;
    color: #ffffff;
}

.tt-menu {
    margin-top: 3px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 15px;
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.tt-input {
    width: 100%;
}

.tt-selectable {
    cursor: pointer;
    padding: 5px;
}

.tt-selectable:hover {
    background: #17A4FF;
    color: #fff;
}

.tt-highlight {
    background: yellow;
    color: #000;
}

.typeahead {
    width: 100%;
}