<!--Index-->
<template name="pos_adjustment">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Adjustment</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="adjustment-id"> <b>ID:</b></label>
                            <input type="text" id="adjustment-id" class="form-control input-sm"
                                   value="{{adjustment._id}}" readonly>
                            <label for="adjustment-date"><b>Date <span style="color: red;">*</span></b></label>
                            <!--<input type="text" id="adjustment-date" class="form-control input-sm"
                                   value="{{adjustment.adjustmentDate}}"
                                   readonly>-->
                            <div class='input-group date' id='adjustment-date'>
                                <input type='text' class="form-control input-sm" id="input-adjustment-date"
                                       value="{{adjustmentDate}}"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label for="staff-id"> <b>Staff <span style="color: red;">*</span></b></label>

                            <!--<div class="input-group select2-bootstrap-append">-->
                                <select id="staff-id" class="form-control input-sm select-two">
                                    {{#each staffs}}
                                        <option value="{{_id}}"
                                                selected="{{#if compareTwoValue _id adjustment.staffId}}selected{{/if}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            <!-- <span class="input-group-addon staffInsertAddon">
                            <a> <i class="fa fa-plus"></i> </a>
                            </span>
                            </div>-->

                            <label for="reason"> <b>Reason <span style="color: red;">*</span></b></label>

                            <!--<div class="input-group select2-bootstrap-append">-->
                            <select id="reason" value="" class="form-control input-sm select-two">
                                {{#each Reasons}}
                                    <option value="{{name}}"
                                            selected="{{#if compareTwoValue name adjustment.reason}}selected{{/if}}">{{name}}</option>
                                {{/each}}
                            </select>

                            <!--</div>-->
                            <label for="description">Description</label>
                            <textarea id="description" class="form-control"
                                      rows="4">{{adjustment.description}}</textarea>

                            <div style="margin-top:5px">
                                {{#if adjustmentHasUpdate}}
                                    <a class="btn btn-primary btn-sm" id="btn-update-adjustment-data">Update</a>
                                {{/if}}

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>Product List</b></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <input type="text" id="product-barcode" class="form-control input-sm" placeholder="Barcode">
                        </div>
                        <div class="col-md-5">
                            <select id="product-id" class="form-control input-sm select-two">
                                <option value="">(Select One)</option>
                                {{#each products}}
                                    <option value="{{_id}}">{{name}}({{_unit.name}})</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <!--   <input type="text" id="default-quantity" class="form-control input-sm"
                                      placeholder="Quantity" value="1">
                           </div>
                           <div class="col-md-2">
                               <input type="text" id="default-discount" class="form-control input-sm"
                                      placeholder="Discount" value="0">-->
                        </div>
                    </div>
                    <br>

                    <div class="table-responsive">
                        <table class="table table-striped table-condensed table-hover">
                            <thead class="jumbotron">
                            <tr>
                                <th>Product</th>
                                <!--<th class="align-center">Unit</th>-->
                                <th class="align-center">Old Qty</th>
                                <th class="align-center">New Qty</th>
                                <th class="align-center">Diff Qty</th>
                                <th class="align-center">Diff Cost</th>
                                <th class="align-center">Action</th>
                            </tr>
                            </thead>
                            <tbody class="align-center" id="adjustment-list">
                            {{#each adjustmentDetails}}

                                <tr data-id="{{_id}}">

                                    <td align="left">
                                        {{_product.name}} ({{_product._unit.name}})
                                    </td>
                                    <!--<td>-->
                                    <!--{{unit}}-->
                                    <!--</td>-->
                                    <td>
                                        {{oldQuantity}}
                                    </td>
                                    <td>
                                        <input type="text" min="0" max="100" class="la-box new-qty validation"
                                               value="{{newQuantity}}"/>
                                    </td>
                                    <td>
                                        <span class="diff-qty">{{diffQuantity}}</span>
                                    </td>
                                    <td>
                                        {{diffCostFormatted}} {{baseCurrency.symbol}}
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-xs btn-danger btn-remove"><i
                                                class="fa fa-trash"></i></a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <!--table-responsive-->
                    <div class="col-md-11 col-md-offset-1">
                        <form class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="total_riel" class="col-sm-5 control-label">
                                            Old Qty
                                        </label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control subtotal_riel input-sm"
                                                       id="subtotal_usd"
                                                       value="{{adjustment.oldQuantity}}" readonly>
                                                <span class="input-group-addon"><b></b></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="total_riel" class="col-sm-5 control-label">New Qty</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control validation input-sm"
                                                       id="total_discount" readonly
                                                       value="{{adjustment.newQuantity}}">
                                                <span class="input-group-addon"><b></b></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="total_riel"
                                               class="col-sm-5 control-label">Diff Qty</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control input-sm" id="total_usd"
                                                       value="{{adjustment.diffQuantity}}"
                                                       readonly>
                                                <span class="input-group-addon"><b></b></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <label for="total_riel"
                                               class="col-sm-5 control-label">Diff Cost</label>

                                        <div class="col-sm-7">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control input-sm" id="riel"
                                                       value="{{adjustment.diffCostFormatted}}"
                                                       readonly>
                                                <span class="input-group-addon"><b>{{baseCurrency.symbol}}</b></span>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <!--Resume-->
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-primary dropdown-toggle"
                            data-toggle="dropdown"><i class="fa fa-undo"></i>&nbsp;Resume<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {{#each adjustments}}
                            <li><a href="/pos/adjustment/{{_id}}">{{_id}}</a></li>
                        {{/each}}
                        <!--<li><a >hello</a></li>-->
                    </ul>
                </div>
                <button type="button" id="suspend" class="btn btn-primary"><i class="fa fa-archive"></i>&nbsp;Suspend
                </button>
                <a href="/pos/adjustment/print/{{adjustment._id}}" id="btn-print" class="btn btn-primary hidden"
                   target="_blank"><i
                        class="fa fa-money"></i>&nbsp;Print</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" id="btn-save"><i
                        class="fa fa-save"></i>&nbsp;Save
                </button>
                <button type="button" class="btn btn-primary" id="cancel-adjustment"><i class="fa fa-trash-o"></i>&nbsp;Cancel
                </button>
            </div>
        </div>
    </div>
</template>
